body {
color: white;
background: black;
margin: 0px;

font-family: "Bitcount Grid Double", system-ui;
}

header {
border-bottom: solid 2px rgb(131, 30, 52);
padding: 20px;
font-size: 32px;
color: rgb(15, 15, 15);
}
section {
    background: rgb(230, 2, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.categori-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right:20px;
    margin-top: 50px;
}

.categori-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity:1.0;
    border:3px solid green;
}

.categoria h2{
    color: rgb(42,122,228);
}